{% extends 'base_generic.html' %}

{% block content %}
  <div class="container">
    <h1 class="my-4">Add New Component</h1>

    <form method="post">
      {% csrf_token %}

      <div class="mb-3">
        <label for="{{ form.identifier.id_for_label }}" class="form-label">Identifier</label>
        {{ form.identifier }}
      </div>
      
      <div class="mb-3">
        <label for="{{ form.description.id_for_label }}" class="form-label">Description</label>
        {{ form.description }}
      </div>
      
      <div class="mb-3">
        <label for="{{ form.inventory_level.id_for_label }}" class="form-label">Inventory Level</label>
        {{ form.inventory_level }}
      </div>

      <button type="submit" class="btn btn-primary">Save</button>
    </form>

    <a href="{% url 'component_list' %}" class="btn btn-secondary mt-3">Back to Component List</a>
  </div>
{% endblock %}
